# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# PWA generated service worker output (ignore dev-sw-dist)
.nuxt/dev-sw-dist/

# Node dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
.fleet
.idea
.vscode/*
!.vscode/extensions.json

# Local env files
.env
.env.*
!.env.example
